@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <iframe src='https://webchat.botframework.com/embed/AzureTestBotPOC?s=59bF2_s9OQA.Rj-VtxxAyYsc4i4Z6Drp0wCOQpjQ5ANOKQ88GL2dgUw' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>
